.vscode
.eslintcache

############### Flutter #############################
# Miscellaneous
flutter-user-client/*.class
flutter-user-client/*.log
flutter-user-client/*.pyc
flutter-user-client/*.swp
flutter-user-client/.DS_Store
flutter-user-client/.atom/
flutter-user-client/.buildlog/
flutter-user-client/.history
flutter-user-client/.svn/
flutter-user-client/.env

# Flutter Output
# flutter-user-client/android
# flutter-user-client/ios
# flutter-user-client/web
# flutter-user-client/windows

# IntelliJ related
flutter-user-client/*.iml
flutter-user-client/*.ipr
flutter-user-client/*.iws
flutter-user-client/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
build

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
# fandroid/app/debug
# android/app/profile
# android/app/release

.metadata